@import "../dest/xLess";
@import "data/effect";
@import "data/components";

.reset();

body {
  font-family:@kaiTi,@yahei; background-color:#e3e3e3; .of(hidden);
}

.github{
  .fl;
  .navigator-func {
    .box-sizing(border-box); display: inline-block;
    li {
      .fl; height:40px; line-height: 20px; padding:5px 7px; .ta;
      a {
        display: block; .tdn; color:@deep_blue;

        button.forkMe {
          background:#eee url(data/favicon.png) 2px no-repeat;
          border:1px solid #ccc; padding:5px 7px 5px 25px; .border-radius(3px);
          outline: none; background-size: 18px; display: inline-block;
        }

        &:hover {
          color:@grey;
        }
      }
    }
  }
}
nav {
  width:100%; .of; height:50px;
}

nav .title {
  font-family:cursive; .fr; position: absolute; right:100px; top:0;
  font-size:80px; letter-spacing: 3px; width:200px; z-index: 999;
  span {
    display: none; position: relative; width:30px;
  }
  span:nth-child(1) {
    color:@orange;
  }
}

main {
  min-width:1024px; margin:111px auto; width:75%; .box-sizing(border-box); clear: both;
}

.gh-components,.gh-download {
  display: none;
}

.left-nav,.right-nav {
  display: inline-block; .posr;
}

.left-nav {
  width:20%; .of(auto); .fl; height: 500px;
  .effect-list,.components-list {
    li {
      padding:8px 0; margin:2px;
      span {
        padding:8px 10px; border-radius: 3px; cursor: pointer;
        &:hover,&.active {
          background: @green5; color:#fff;
        }
      }
    }
  }
}

.right-nav {
  width:75%; .fl;
  .compatibilityTable {
    .posa; right:0; top:0;
    .browser,.browserCompatibility {
      li {
        color:@green5;display: inline-block; .ta; padding:7px; width:60px; border-left:1px solid #ddd;
        &:nth-child(1){
          width:80px;
        }
        &:nth-child(2){
          width:140px;
        }
      }
    }
  }
  .stage {
    .cube {
      width:100px; height:100px; .border-radius(50%); .posa;
      display: none;
    }
    .cube1{
      background: @red; top:100px; left:200px;
    }
    .cube2{
      background: @blue; top:100px ;left:400px;
    }
    .cube3{
      background: @yellow2; top:300px; left:200px;
    }
    .cube4{
      background: @purple; top:300px; left:400px;
    }
    .cube5{
      background: @orange2; top:200px; left:300px;
    }

    .module {
      margin-bottom:10px;  .box-sizing(border-box);
      p {
        padding:5px; background: @green5; color:#fff; text-indent: 5px; .border-radius(3px);
      }
      >div,.html-code {
        padding:10px; border:1px solid #ccc; margin-top:10px; .border-radius(3px);
        background: #fff; color:#333;
      }
      .demo {
        height:200px; position: relative;
        >*{
          margin: 60px auto;
        }
      }
      .html-code {
        width:100%; resize: none; outline: none; line-height: 25px;
        .transition(all .5s);
      }
    }
  }
}


.gh-download {
  width:100%; position: relative;
  .download-channel {
    .download-channel-animate,.download-channel-components {
      .clearfix();
      >p>label {
        >input {
          vertical-align: middle; margin-right:5px;
        }
        span {
          vertical-align: -2px;
        }
      }
      p {
        padding:5px; background: @green5; color:#fff; text-indent: 5px; .border-radius(3px);
      }
      ul {
        li {
          width:25%; .fl; padding:10px;
          input[type='checkbox'], span{
            vertical-align: middle;
          }
          span {
            padding-left:5px;
          }
        }
      }
    }
  }
  .download-msg {
    width:100%; .ta; color:@red2;
  }
  .gh-download-func {
    margin:20px auto; width:409px;
    button {
      padding:10px; background: @blue; color:#fff; border:none; margin-top:10px;
      .f15; .border-radius(3px);
    }
  }
}






























