@-webkit-keyframes paroketIn2 {
    0% {
        -webkit-transform: rotateZ(0) scale(1);
    }
    100% {
        -webkit-transform: rotateZ(1turn) scale(0);
        display: none;
    }
}

.swing {
    width:100%; height:100%; content: ''; background: #000; display: block;
    -webkit-animation: paroketIn2 1s linear 1;
    -webkit-animation-fill-mode: both;
}